<ion-view title="Host Information">
  <ion-content>
  <div class="host-location">{{city}}</div>
    <ion-list>
      <ion-item ng-repeat="host in hosts" href="#/tab/host/{{host.id}}">
      <div class="host-box">
        <h3 class="host-header">{{host.name}}</h3>
        <div class="host-bio"> - {{host.bio}}</div>
        <div class="host-rating"></div>
        <div class="host-terms">
          <button class="button button-small button-outline button-positive">{{host.expertise[0]}}</button>
          <button class="button button-small button-outline button-positive">{{host.expertise[1]}}</button>
          <button class="button button-small button-outline button-positive">{{host.expertise[2]}}</button>
        </div>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
