<ion-view title="Glimpse">
  <ion-content>
    <ion-list class="host-list">
      <ion-item ng-repeat="host in hosts" href="#/tab/host/{{host.id}}">
      <div class="host-box">
        <img class="host-cover" src="{{host.cover}}"></img>
        <div class="host-info">
          <div class="host-price">${{host.price}}</div>
          <div class="host-bio"> - {{host.description}}</div>
          <div class="host-rating">
            <stars rating="{{host.rating}}">
          </div>
          <h3 class="host-header">{{host.name}}</h3>
        </div>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
