<ion-view title="{{host.title}}">
  <ion-content padding="true">
  	<div class="detail-image">
  		<img src="{{ host.image }}">
  	</div>
  	<div class="detail-info">
  		<p class="detail-name">{{ host.name }}</p>
  		<stars rating="{{ host.rating }}"></stars>
    	<p>{{ host.bio }}</p>
    </div>
    <p><a style="float:left" class="button button-medium icon ion-arrow-left-b" href="#/tab/hosts"> All Hosts</a></p>
    <p><a style="float:right"class="button button-medium icon button-balanced" ui-sref="tab.message">Message</a></p>
  </ion-content>
</ion-view>