<ion-view title="Messages" class="messaging-view">
  <ion-content ng-style="{ bottom: data.keyboardHeight + &quot;px&quot; }">
    <div ng-repeat="message in messages" ng-class="{ other: message.userId != myId }" class="message">
      <div ng-style="{ backgroundImage: &quot;url(&quot; + message.photo + &quot;)&quot; }" class="photo"></div>
      <div class="message"><span>{{ message.text }}</span></div>
    </div>

	  <div ng-style="{ bottom: data.keyboardHeight + &quot;px&quot; }" class="message-input">
	    <input type="text" placeholder="Type your message" on-return="sendMessage()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()"/>
	  </div>
</ion-content>
</ion-view>