
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-default">


  <!-- Hosts Tab -->
  <ion-tab title="Hosts" icon="icon ion-home" href="#/tab/hosts">
    <ion-nav-view name="hosts-tab"></ion-nav-view>
  </ion-tab>


  <!-- Find Tab -->
  <ion-tab title="Find" icon="icon ion-heart" href="#/tab/find">
    <ion-nav-view name="find-tab"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-search" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
