/* Your app's CSS, go crazy, make it your own */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; }

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
.header {
	background-color: #fb9;
	height: 50px;
	text-align: center;
}
.header span {
	color: white;
	font-size: 22px;
	line-height: 50px;
}
.single-button {
	text-align: center;
}
.detail-info,
.detail-image {
	text-align: center;
}
.detail-name {
	font-size: 28px;
}
.detail-image img {
	width: 200px !important;
}
.img-wrapper {
	border-radius: 200px;
	overflow: hidden;
	height: 200px;
	display: inline-block;
	margin-bottom: 22px;
}
.text-message {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.text-message input,
.message {
	text-align: right;
	margin-right: 10px;
}
.message {
	font-size: 16px;
	margin: 8px;
}